*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e3dfdf;
}

h1{
    text-align: center;
    padding: 20px 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

.card {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #b6b5b5;
}

.card p {
    font-size: 20px;
    font-weight: 600;
}

.card__img {
    width: 60%;
}

.text{
    font-size: 18px;
    text-align: center;
    padding: 20px 0;
}