*{
    margin: 0;
    padding: 0;
}
.container {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e4beae;
}
.figure{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}
.figure:hover{
    background-color: grey;
    border-radius: 50%;
    transition: 1.5s;
}