*{
    margin: 0;
}
header, footer, section, aside{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 45px;
    color: #fff;
}
header{
    height: 20vh;
    background: #8D8484;
}
footer{
    height: 20vh;
    background: #BDBDBD;
}
main{
    height: 60vh;
    display: flex
}
div section{
    height: 33.33%;
    width: 73vw;
}
.one{
    background: #776969;
}
.two{
    background: #643030;
}
.third{
    background: #441818;
}
aside{
    width: 27vw;
}
.top{
    height: 50%;
    background: #937575;
}
.bottom{
    height: 50%;
    background: #644C4C;
}