*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #031629;
    padding: 20px 100px;
}

h1, h2{
    text-align: center;
    margin-bottom: 40px;
    color: aliceblue;
}

p{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #cad4dd;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.card{
    width: 370px;
    border-radius: 10px;
    background-color: #ebedf3;
    padding: 20px;
}

.card img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 10px;
}