*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkolivegreen;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px 20px;
    font-size: 18px;
}

.card{
    width: 240px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #5d5e5b;
    background-color: #bad1b7;
    transition-duration: 1s;
}

.card:hover{
    transform: scale(1.105);
    cursor: pointer;
    transition-duration: 1.5s;
}

h3{
    font-weight: 600;
}